* {
    margin: 0;
    padding: 0;
}

:root{
    --dark-bg-clr: hsl(216, 12%, 8%);
    --dark-blue: hsl(213, 19%, 18%);
    --medium-grey: hsl(216, 12%, 54%);
    --light-grey: hsl(217, 12%, 63%);
    --white: hsl(0, 0%, 100%);

    --btn-orange: hsl(25, 97%, 53%);

    --ff-overpass: 'Overpass', sans-serif;
}

img {
    object-fit: contain;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
} 


body{
    background-color: var(--dark-bg-clr);
    /* Center the card */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.card{
    background: linear-gradient(180deg, var(--dark-blue)    0%, var(--dark-bg-clr) 100%);
    /* border: 2px solid black; */
    max-height: 24rem;
    width: 20rem;
    border-radius: 10px;
}


#star{
    /* border: 2px solid red; */
    background-color: var(--dark-blue);
    margin-right: 16rem;
    margin-top: 1rem;
    min-height: 1rem;
    max-width: 1rem;
    padding: 0.5em;
    border-radius: 50%;
    
}

#card-state-one{
    /* display: none; */
}

h1{
    font-family: var(--ff-overpass);
    color: var(--white);
    font-weight: 500;
    font-size: larger;
}

#state-one-h1{
    text-align: left;
    padding-left: 1rem;
    margin-left: 0.25em;
}

#state-one-paragragh{
    text-align: left;
    padding-left: 1rem;
    margin-left: 0.25em;
    padding-bottom: 0.5em;
}

h2{
    color: var(--white);
    font-family: var(--ff-overpass);

}

p{
    margin: 1rem;
    font-family: var(--ff-overpass);
    color: var(--light-grey);
    font-size: 15px;
}



.radio-input{
    display: none;
}

.radio-label{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-right: 1em;
    padding-left: 1em;
    border: none;
    border-radius: 50%;
    margin: 0.35rem;
    background-color: var(--dark-blue);
    color: var(--light-grey);
    cursor: pointer;
}

.radio-label:hover{
    background-color: var(--light-grey);
    color: var(--white);
}

.radio-input:checked + .radio-label{
    background-color: var(--btn-orange);
    color: var(--white);
}

#submit-btn{
    padding: 1rem;
    margin: 2rem;
    /* margin-top: 4rem; */
    min-width: 15rem;
    border-radius: 20em;
    border: none;
    background-color: var(--btn-orange);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: var(--white);
    color: var(--btn-orange);
}

#card-state-two{
    display: none;
}

#state-two-img{
    padding: 2rem;
}

#state-two-h1{
    color: var(--btn-orange);
    font-size: medium;
    /* border: 2px solid red; */
    border-radius: 20px;
    display: inline;
    padding: 0.25em;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--dark-blue);
}
#state-two-h2{
    margin-top: 1rem;
}


footer{
    position: absolute;
    bottom: 0%;
    display: none;
}
